.morphy {
  height: 70px;
  width: 100vw;
  /* background-color: wheat; */
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  position: fixed;
}
.content {
  display: flex;
  justify-content: space-around;
  cursor: pointer;
  padding-top: 10px;
  color: black;
}
.Sign {
  background-color: black;
  height: 29px;
  width: 70px;
  padding-left: 20px;
  border-radius: 5px;
  color: white;
  padding-top: 6px;
}
.vercel {
  font-size: 27px;
  /* font-weight: 100; */
  /* padding-bottom: 60px; */
  padding-left: 30px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.inner {
  height: 20px;
  width: 30px;
  display: flex;
  flex-direction: row;
}
